@model BlogApplication.Models.PostViewModel
@{
    ViewBag.Title = "AddNewCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddNewCategory", "Blog", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <h3><span class="forMarginTop">Add Category</span></h3>


    <form data-toggle="validator" role="form">
        <div class="form-group">
            <label for="catName" class="control-label">Name</label>
            <input id="catName" class="form-control" type="text" name="catName"  required/>
        </div>

        <div class="form-group">
            <label for="catUrlSeo" class="control-label">UrlSeo</label>
            <input id="catUrlSeo" class="form-control" type="text" name="catUrlSeo" required />
        </div>

        <div class="form-group">
            <label for="catDesc" class="control-label">Description</label>
            <input id="catDesc" class="form-control" type="text" name="catDesc" required />
        </div>

        @if (Model != null)
        {
            <input type="hidden" value="@Model.ID" name="postid" />
        }
        <input class="btn btn-primary" type="submit" value="Add New" />
    </form>


}
